<footer class="text-center text-lg-start text-black fondo">
  <div class="container p-4 pb-0">
    <section class="">
      <div class="row">
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mt-3">
          <img class=" mb-4" src="../../../assets/logo/LOGOHORIZONTAL.png" style="width:25vw; height: auto;" id="logo"
            alt="logo">
          <p>
            El mejor zoo.
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Informacón Corporativa</h6>
          <p>
            <a [routerLink]="['/']">Inicio</a>
          </p>
          <p>
            <a [routerLink]="['/descubre-el-zoo']">Descubre Charnia</a>
          </p>
          <p>
            <a [routerLink]="['/blog']">Blog</a>
          </p>
          <p>
            <a [routerLink]="['/entradas']">Entradas</a>
          </p>
        </div>
        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 mb-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Contacto</h6>
          <p style="word-wrap: break-word;">
            <a href="mailto:charnia.web.proyecto@gmail.com">charnia.web.proyecto@gmail.com</a>
          </p>
          <h6 class="text-uppercase mb-4 font-weight-bold">Síguenos</h6>

          <!-- Facebook -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="https://es-es.facebook.com" role="button">
            <i class="fab fa-facebook-f"></i>
          </a>

          <!-- Twitter -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="https://twitter.com" role="button">
            <i class="fab fa-twitter"></i>
          </a>

          <!-- Google -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #dd4b39" href="https://www.youtube.com" role="button">
            <i class="fab fa-youtube"></i>
          </a>

          <!-- Instagram -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #e438a2" href="https://www.instagram.com" role="button">
            <i class="fab fa-instagram"></i>
          </a>

          <!-- Twitch -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #8d04af" href="https://www.twitch.tv" role="button">
            <i class="fab fa-twitch"></i>
          </a>
          <!-- Github -->
          <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/Nereare4/Charnia" role="button">
            <i class="fab fa-github"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    Zoo ficticio creado por:
    <div class="text-white underline" href="https://mdbootstrap.com/">Nerea Ramos y Juan Carlos Robles</div>
  </div>
</footer>