<div class="container mb-4">
    <h1><strong>Mapa de Charnia</strong></h1>
    <p>Aquí tienes el mapa de Charnia para que te pierdas nada del zoo</p>
    <br><br>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col" style="width: 30%;">
            <h3>Leyenda:</h3>
            <p>&nbsp;&nbsp;&nbsp;<i class="fas fa-camera mt-2"></i>&nbsp;&nbsp;Fotografías</p>
            <p>&nbsp;&nbsp;&nbsp;<i class="fas fa-restroom"></i>&nbsp;&nbsp;Aseos</p>
            <p>&nbsp;&nbsp;&nbsp;<img src="../../../assets/iconos/picnic.png" id="picnic">&nbsp;&nbsp;Merenderos</p>
            <p>&nbsp;&nbsp;&nbsp;<i class="fas fa-utensils"></i>&nbsp;&nbsp;Restaurantes</p>
            <p>&nbsp;&nbsp;&nbsp;<i class="fas fa-circle-info m"></i>&nbsp;&nbsp;Información</p>
        </div>
        <div class="col">
            <section>
                <div class="container2">
                    <div class="carousel">
                        <input type="radio" name="slides" checked="checked" id="slide-1">
                        <input type="radio" name="slides" id="slide-2">
                        <input type="radio" name="slides" id="slide-3">
                        <input type="radio" name="slides" id="slide-4">
                        <input type="radio" name="slides" id="slide-5">
                        <input type="radio" name="slides" id="slide-6">
                        <input type="radio" name="slides" id="slide-7">
                        <ul class="carousel__slides d-flex align-items-center">
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/mapaCharnia4Modificada.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Mapa general de Charnia.
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/poloNorte.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona del Polo Norte, en esta zona podrás ver pingüinos.
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/africa.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona Africana, en esta zona podrás ver leones, monos, cebras, jirafas,
                                        elefantes, rinocerontes y cocodrilos
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/australia.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona Australiana, en esta zona podrás ver avestruces, koalas y canguros. Además
                                        podrás participar en actividades con los wallabys.
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/delfinario.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona del delfinario, aquí podrás participar en actividades con los delfines.
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/granja.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona de la granja, aquí podrás ver cabras, gallinas, conejos, cerdos y patos.
                                        Además podrás
                                        participar en actividades de la granja.
                                    </figcaption>
                                </figure>
                            </li>
                            <li class="carousel__slide">
                                <figure>
                                    <div class="border border-2">
                                        <img src="../../../assets/mapa/webp/acuario.webp" alt="">
                                    </div>
                                    <figcaption>
                                        Zona del acuario, aquí podrás ver peces y tiburones.
                                    </figcaption>
                                </figure>
                            </li>
                        </ul>
                        <ul class="carousel__thumbnails scroll">
                            <li>
                                <label for="slide-1"><img src="../../../assets/mapa/webp/mapaCharnia4.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-2"><img src="../../../assets/mapa/webp/poloNorte.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-3"><img src="../../../assets/mapa/webp/africa.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-4"><img src="../../../assets/mapa/webp/australia.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-5"><img src="../../../assets/mapa/webp/delfinario.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-6"><img src="../../../assets/mapa/webp/granja.webp" alt=""></label>
                            </li>
                            <li>
                                <label for="slide-7"><img src="../../../assets/mapa/webp/acuario.webp" alt=""></label>
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>