<div class="container">
    <h1 class="d-flex justify-content-center">Extras</h1>
    <div class="scroll">
        <h4 class="mt-3"><strong>Menús</strong></h4>
        <div class=" d-flex flex-row">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/extras/todoIncluido.png" class="card-img-top" style="width: 100%; overflow:hidden;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Todo incluido</strong></h5>
                    <h6 class="card-subtitle mt-2 mb-2">Desde 20€</h6>
                    <p class="card-text ">Completa tu experiencia en el zoo con nuestra pulsera Todo incluido. Y
                        disfruta de...</p>
                    <button class="btn btn-success" (click)="abrirTodoIncluido()">
                        ¡Lo quiero!</button>
                </div>
            </div>
            <div class="card mx-4" style="width: 18rem;">
                <img src="../../../../assets/extras/comida.png" class="card-img-top" style="width: 100%; overflow:hidden;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Menú</strong></h5>
                    <h6 class="card-subtitle mt-2 mb-2">Desde 16.5€</h6>
                    <p class="card-text ">¿Un descansito para comer? Descubre nuestros maravillosos menús del día...</p>
                    <button class="btn btn-success" (click)="abrirMenu()">¡Lo quiero!</button>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/extras/niña-melon.png" class="card-img-top" style="width: 100%; overflow:hidden;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Menú infantil</strong></h5>
                    <h6 class="card-subtitle mt-2 mb-2">Desde 10.99</h6>
                    <p class="card-text ">Para los más pequeños de la familia, tenemos un menú especial para ellos...
                    </p>
                    <button class="btn btn-success" (click)="abrirMenuInfantil()">¡Lo quiero!</button>
                </div>
            </div>
        </div>
        <h4 class="mt-3"><strong>Fotografías</strong></h4>
        <div class="mt-2 d-flex flex-row">
            <div class="card" style="width: 18rem;">
                <img src="../../../../assets/extras/niñas.png" class="card-img-top" style="width: 100%; overflow:hidden;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Foto en la entrada del zoo</strong></h5>
                    <h6 class="card-subtitle mt-2 mb-2">Desde 5.5€</h6>
                    <p class="card-text ">Completa tu experiencia en el zoo con una foto de recuerdo en la entrada de
                        nuestro zoo...</p>
                    <button class="btn btn-success" (click)="abrirFotoEntrada()">¡Lo quiero!</button>
                </div>
            </div>
            <div class="card mx-4" style="width: 18rem;">
                <img src="../../../../assets/extras/chica-caballo.png" class="card-img-top"
                    style="width: 100%; overflow:hidden;">
                <div class="card-body">
                    <h5 class="card-title"><strong>Foto con animales</strong></h5>
                    <h6 class="card-subtitle mt-2 mb-2">Desde 10.5€</h6>
                    <p class="card-text ">Llevate una bonita foto de recuerdo con uno de nuestros animales más
                        amigables...</p>
                    <button class="btn btn-success" (click)="abrirFotoAnimal()">¡Lo quiero!</button>
                </div>
            </div>
        </div>
    </div>
</div>