<div class="container">
    <h1>Descubre Charnia</h1><br>
    <h4>Charnia es mucho más de lo que imaginas</h4><br>
    <p>No es solo una experiencia irrepetible para conocer y
        aprender sobre animales; es mucho más. Infórmate sobre nuestras actividades educativas, descubre nuestros restaurantes 
        y tiendas. También puedes consultar el mapa y los
        servicios que ofrecemos para planear tu visita.</p>
</div>
<br><br>
<div class="container ">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around">
        <div class="col d-flex justify-content-center mt-4">
            <div class="card redondoEntero" style="width: 26rem;">
                <img src="../../../assets/iguana2.png" class="card-img-top soloArriba" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Actividades educativas</h4><br>
                    <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Ver más</button>
                </div>
            </div>
        </div>
        <br>
        <div class="col d-flex justify-content-center mt-4">
            <div class="card redondoEntero" style="width: 26rem;">
                <img src="../../../assets/mapa/png/mapaCharnia3.png" class="card-img-top soloArriba" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Mapa de Charnia</h4><br>
                    <button type="button" class="btn btn-success" [routerLink]="['/descubre-el-zoo/mapa']">Ver más</button>
                </div>
            </div>
        </div>
        <br>
        <div class="col d-flex justify-content-center mt-4">
            <div class="card redondoEntero" style="width: 26rem;">
                <img src="../../../assets/extras/entrada.jpeg" class="card-img-top soloArriba" alt="..." style="height: 130px;">
                <div class="card-body">
                    <h4 class="card-title">Servicios</h4><br>
                    <button type="button" class="btn btn-success" [routerLink]="['/descubre-el-zoo/servicios']">Ver
                        más</button>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>