<div class="container">
    <h1 class="d-flex justify-content-center">Animales</h1>
    <div class="d-flex flex-row align-items-center mb-3">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">Añadir</button><br>
        <form id="form">
            <label class="mx-2">Buscar:</label>
            <input type="text" id="buscar" name="buscar">
            <button (click)="buscar()" class="mx-2 btn btn-light"><i class="fas fa-search"></i></button>
        </form>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id
                    <i class="fas fa-arrow-down-a-z mx-2" (click)="porIdDerecho()"></i>
                    <i class="fas fa-arrow-up-a-z" (click)="porIdReves()"></i>
                    
                </th>
                <th scope="col">Nombre
                    <i class="fas fa-arrow-down-a-z mx-2" (click)="porNombreDerecho()"></i>
                    <i class="fas fa-arrow-up-a-z" (click)="porNombreReves()"></i>
                </th>
                <th scope="col">Especie
                    <i class="fas fa-arrow-down-a-z mx-2" (click)="porEspecieDerecho()"></i>
                    <i class="fas fa-arrow-up-a-z" (click)="porEspecieReves()"></i>
                </th>
                <th scope="col">Cuidado Por
                    <i class="fas fa-arrow-down-a-z mx-2" (click)="porCuidadoPorDerecho()"></i>
                    <i class="fas fa-arrow-up-a-z" (click)="porCuidadoPorReves()"></i>
                </th>
                <th scope="col">Recinto
                    <i class="fas fa-arrow-down-a-z mx-2" (click)="porRecintoResidenciaDerecho()"></i>
                    <i class="fas fa-arrow-up-a-z" (click)="porRecintoResidenciaReves()"></i>
                </th>
                <th scope="col">Fecha de llegada</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let animal of animales | slice:desde:hasta">
                <th scope="row">{{animal.id}}</th>
                <td>{{animal.nombre}}</td>
                <td>{{animal.especie}}</td>
                <td>{{animal.cuidadoPor}}</td>
                <td>{{animal.recintoResidencia}}</td>
                <td>{{animal.fechaDeLlegada}}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning mx-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop2" (click)="editar(animal)"><i class="fas fa-pencil"></i></button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal"
                    data-bs-target="#staticBackdrop3" (click)="eliminar(animal)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
    <mat-paginator 
        [length]="animales.length" 
        [pageSize]="pageSize" 
        (page)="cambiarPagina($event)">
    </mat-paginator>
</div>

<!-- AÑADIR -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Añadir Animal</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)=" agregar()" #formularioAnyadir="ngForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="textarea" class="form-control" id="nombre" name="nombre"
                            #Nombre="ngModel" pattern="[A-Za-z]{2,}" required 
                            placeholder="Introduzca el nombre" [(ngModel)]="campos.nombre">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Nombre.touched &&!Nombre.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="especie" class="form-label">Especie</label>
                        <input type="text" class="form-control" id="especie" name="especie"
                            #Especie="ngModel" pattern="[A-Za-z]{2,}" required
                            placeholder="Introduzca la especie del animal" [(ngModel)]="campos.especie">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Especie.touched &&!Especie.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="cuidadoPor" class="form-label">Cuiadado Por</label>
                        <input type="text" class="form-control" id="cuidadoPor" name="cuidadoPor"
                            #CuidadoPor="ngModel" pattern="[A-Za-z0-9]{2,}" required
                            placeholder="Introduzca el id del cuidador" [(ngModel)]="campos.cuidadoPor">
                        <span class="alert alert-danger d-block mt-2" *ngIf="CuidadoPor.touched &&!CuidadoPor.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="recintoResidencia" class="form-label">Recinto</label>
                        <input type="text" class="form-control" id="recintoResidencia" name="recintoResidencia"
                            #Recinto="ngModel" pattern="[A-Za-z0-9]{2,}" required
                            placeholder="Introduzca el id del recinto" [(ngModel)]="campos.recintoResidencia">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Recinto.touched &&!Recinto.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="fechaDeLlegada" class="form-label">Fecha de Llegada</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" 
                            #FechaDeLlegada="ngModel" required
                            [(ngModel)]="campos.fechaDeLlegada">
                        <span class="alert alert-danger d-block mt-2" *ngIf="FechaDeLlegada.touched &&!FechaDeLlegada.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formularioAnyadir.form.valid">Añadir</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- MODIFICAR -->
<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel2" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Editar: {{campos.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)=" modificarAnimal()" #formularioModificar="ngForm">
                    <div class="mb-3">
                        <label for="nombre" class="form-label">Nombre</label>
                        <input type="textarea" class="form-control" id="nombre" name="nombre"
                            #Nombre="ngModel" pattern="[A-Za-z]{2,}" required 
                            placeholder="Introduzca el nombre" [(ngModel)]="campos.nombre">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Nombre.touched &&!Nombre.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="especie" class="form-label">Especie</label>
                        <input type="text" class="form-control" id="especie" name="especie"
                            #Especie="ngModel" pattern="[A-Za-z]{2,}" required
                            placeholder="Introduzca la especie del animal" [(ngModel)]="campos.especie">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Especie.touched &&!Especie.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="cuidadoPor" class="form-label">Cuiadado Por</label>
                        <input type="text" class="form-control" id="cuidadoPor" name="cuidadoPor"
                            #CuidadoPor="ngModel" pattern="[A-Za-z0-9]{2,}" required
                            placeholder="Introduzca el id del cuidador" [(ngModel)]="campos.cuidadoPor">
                        <span class="alert alert-danger d-block mt-2" *ngIf="CuidadoPor.touched &&!CuidadoPor.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="recintoResidencia" class="form-label">Recinto</label>
                        <input type="text" class="form-control" id="recintoResidencia" name="recintoResidencia"
                            #Recinto="ngModel" pattern="[A-Za-z0-9]{2,}" required
                            placeholder="Introduzca el id del recinto" [(ngModel)]="campos.recintoResidencia">
                        <span class="alert alert-danger d-block mt-2" *ngIf="Recinto.touched &&!Recinto.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="mb-3">
                        <label for="fechaDeLlegada" class="form-label">Fecha de Llegada</label>
                        <input type="date" class="form-control" id="fecha" name="fecha" 
                            #FechaDeLlegada="ngModel" required
                            [(ngModel)]="campos.fechaDeLlegada">
                        <span class="alert alert-danger d-block mt-2" *ngIf="FechaDeLlegada.touched &&!FechaDeLlegada.valid">No puedes dejar este campo vacio</span>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!formularioModificar.form.valid">Añadir</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- ELIMINAR -->
<div class="modal fade" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel2">Eliminar: {{campos.id}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form (ngSubmit)=" eliminarDefinitivamente()">
                    <div id="contFormEliminar" class="mb-4">
                        <p>Se va a eliminar el elemento seleccionado. 
                            Esta acción no puede deshacerse.¿Desea Continuar?</p>
                    </div>
                    <div class="d-flex justify-content-around">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
