<div class="container mb-4">
    <h1 class="d-flex justify-content-center">Bienvenido: </h1>
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
        <!-- ACTIVIDAD INDIVIDUAL -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/actividad.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Actividad Individual</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/actividad-individual']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- ANIMALES -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/jirafa.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Animales</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/animales']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- CUIDADOR -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/cuidador.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Cuidador</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/cuidador']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- IMAGENES -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/imagen.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Imagenes</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/imagenes']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- RECINTO -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/recinto.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Recinto</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/recinto']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- USUARIO -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/usuarios.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Usuario</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/usuario']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONSERVACIÓN -->
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around mt-3">
            <div class="col">
                <div class="card redondo" style="width: 18rem; ">
                    <img src="../../../assets/iconos/conservacion.png" class="card-img-top redondoMitad mx-5" alt="..." style="width: 50%; height: 50%">
                    <div class="card-body">
                        <h4 class="card-title">Conservacion</h4>
                        <button type="button" class="btn btn-success" [routerLink]="['/datos/conservacion']">Ver más</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
