<!-- <div class="container"> -->
<div id="scene">
    <div id="left-zone">
        <ul class="list">
            <li class="item">
                <input type="radio" id="radio_1" name="basic_carousel" checked />
                <label class="label_strawberry" for="radio_1">Visitantes</label>
                <div class="content content_strawb w-75 d-flex justify-content-center" id="dentro">
                    <!-- <span class="picto"></span> -->
                    <!-- <h1>VISITANTES</h1> -->
                    <app-visitantes></app-visitantes>
                    <!-- <p>zñkldfxnvñdfkn</p> -->
                </div>
            </li>
            <li class="item">
                <input type="radio" id="radio_2" name="basic_carousel" />
                <label class="label_banana" for="radio_2">Fecha</label>
                <div class="content content_banana w-75 d-flex justify-content-center">
                    <!-- <span class="picto"></span>
                    <h1>FECHA</h1> -->
                    <app-fecha></app-fecha>
                    <!-- <p>xñkfcngdfñ</p> -->
                </div>
            </li>
            <li class="item">
                <input type="radio" id="radio_3" name="basic_carousel" />
                <label class="label_apple" for="radio_3">Extra</label>
                <div class="content content_apple w-75 d-flex justify-content-center">
                    <span class="picto"></span>
                    <h1>apple</h1>
                    <p>Tzlkxfhgkfl.</p>
                </div>
            </li>
            <li class="item">
                <input type="radio" id="radio_4" name="basic_carousel" />
                <label class="label_orange" for="radio_4">Pago</label>
                <div class="content content_orange w-75 d-flex justify-content-center">
                    <span class="picto"></span>
                    <h1>orange</h1>
                    <p>zçfj</p>
                </div>
            </li>
        </ul>
    </div>
    <div id="middle-border"></div>
    <div id="right-zone"></div>
</div>
<!-- </div> -->
<br><br><br><br>