<!-- FOTO DE INICIO -->
<div class=" container tamanyoContainer d-flex align-items-end img-fluid"
    style="background-image: url('../../../assets/leopardo1.png'); background-repeat: no-repeat; background-position: center; background-size: 100%;">
    <div class="ms-5 text-white" style="text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);">
        <div class="h1">Bienvenido a CHARNIA</div>
        <div class="h3">Disfrute de su visita en el ZOO de todos</div>
    </div>
</div>
<br><br><br>
<!-- ACTIVIDADES -->
<div class="container">
    <div class="row d-flex justify-content-around row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col d-flex justify-content-center mt-2">
            <div>
                <h1>Actividades educativas</h1><br>
                <h5>Experiencias muy divertidas y en las que conocerás a los wallabys, las aves exóticas, o los delfines.
                    Aprende de nuestros fantásticos animales y connecta con ellos durante las actividades educativas de
                    Charnia.</h5><br>
                <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Todas la actividades</button>
            </div>
        </div>
        <div class="col d-flex justify-content-center mt-2">
            <img src="../../../assets/loro.png" class="card-img-top w-75 h-100 redondo img-fluid" alt="...">
        </div>
    </div>
</div>
<br><br><br><br>
<div class="container ">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around">
        <div *ngFor="let indiv of individual">
            <div *ngFor="let rut of ruta">
                <div *ngIf="indiv.nombre == rut">
                    <div *ngIf="indiv.nombre != nombre">
                        <div class="col d-flex justify-content-center mt-4">
                            <div class="card redondo" style="width: 18rem; ">
                                <img src="../../../assets/{{indiv.imagen}}" class="card-img-top redondoMitad" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title">{{indiv.tituloCarta}}</h4>
                                    <button type="button" class="btn btn-success" [routerLink]="['/actividad', rut]"
                                        (click)="ngOnInit()">Ver más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<!-- POSTS -->
<div class="container">
    <div class="row d-flex justify-content-around row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col d-flex justify-content-center mt-2">
            <img src="../../../assets/lince.png" class="card-img-top w-75 h-100 img-fluid redondo" alt="...">
        </div>
        <div class="col d-flex justify-content-center mt-2">
            <div>
                <h1>Descubre nuestros programas</h1><br>
                <h5>¿Sabías que con cada visita nos ayudas a conservar más especies autóctonas? En Charnia nos
                    esforzamos en cuidar y
                    conservar especies en peligro de extinción.
                </h5><br>
                <button type="button" class="btn btn-success" [routerLink]="['/conservacion']">¡Muestrame más!</button>
            </div>
        </div>

    </div>
</div>
<br><br><br><br>
<!-- ULTIMOS POST -->
<div class="h2 d-flex justify-content-center">Últimos posts</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-around row-cols-1 row-cols-md-2 row-cols-lg-2">
        <div class="col d-flex justify-content-center mt-4">
            <div class="card mb-3" style="max-width: 740px;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Quebrantahuesos</h5>
                            <p class="card-text">Descubre lo maravilloso que es este ave y por qué está en peligro de
                                extinción</p>
                            <br><br>
                            <button type="button" class="btn btn-success"
                                [routerLink]="['/conservacion', 'quebrantahuesos']"><i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/quebrantahuesos.png" class="img-fluid rounded-start " alt="..."
                            style="height: 100%; width: 120%">

                    </div>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center mt-4">
            <div class="card mb-3" style="max-width: 740px;">
                <div class="row g-0">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h5 class="card-title">Cigüeña Negra</h5>
                            <p class="card-text">Descubre lo maravilloso que es este ave y por qué está en peligro de
                                extinción</p>
                            <br><br>
                            <button type="button" class="btn btn-success"
                                [routerLink]="['/conservacion', 'ciguena-negra']"><i
                                    class="fas fa-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../../../assets/ciguenanegra.png" class="img-fluid rounded-start " alt="..."
                            style="height: 100%; width: 120%">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br>
<!-- OPINIONES -->
<div class="h2 d-flex justify-content-center">Nuestros clientes opinan</div>
<br>
<div class="container ">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-around ">
        <!-- <div *ngFor="let opinio of opinion"> -->
        <div *ngFor="let opinio of arrayOpinion">
            <!-- BUCLE FOR PARA RECORRER OPINIONES -->
            <div class="col d-flex justify-content-center mt-4">
                <div class="card" style="width: 22rem;">
                    <div class="card-body">
                        <div *ngIf="opinio.valoracion == 4; else otro">
                            <div class="row row-cols-2">
                                <div class="col-7">
                                    <div *ngFor="let usu of usuario">
                                        <!-- BUCLE FOR PARA RECORRER USUARIOS -->
                                        <div *ngIf="opinio.opinionDe == usu.id">
                                            <!-- CONDICIÓN PARA UNIR OPINIONES CON USUARIOS -->
                                            <h3 class="card-title">{{usu.nombre}}</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-5 d-flex justify-content-end align-self-center">
                                    <h6>
                                        <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                        <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                        <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                        <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                    </h6>
                                </div>
                                <br>
                                <h6 class="card-subtitle mb-2 text-muted fs-6">
                                    <!-- FECHA DE PUBLICACIÓN DD/MM/AAAA-->
                                    {{opinio.fecha.toDate().getDate()}}/{{opinio.fecha.toDate().getMonth()+1}}/{{opinio.fecha.toDate().getFullYear()}}
                                </h6>
                            </div>
                            <p class="card-text">{{opinio.comentario}}</p>
                        </div>
                        <ng-template #otro>
                            <div *ngIf="opinio.valoracion == 5">
                                <div class="row row-cols-2">
                                    <div class="col-6">
                                        <div *ngFor="let usu of usuario">
                                            <!-- BUCLE FOR PARA RECORRER USUARIOS -->
                                            <div *ngIf="opinio.opinionDe == usu.id">
                                                <!-- CONDICIÓN PARA UNIR OPINIONES CON USUARIOS -->
                                                <h3 class="card-title">{{usu.nombre}}</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 d-flex justify-content-end align-self-center">
                                        <h6>
                                            <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                            <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                            <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                            <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                            <i class="bi bi-star-fill" style="font-size: 1em; color: gold"></i>
                                        </h6>
                                    </div>
                                    <br>
                                    <h6 class="card-subtitle mb-2 text-muted fs-6">
                                        <!-- FECHA DE PUBLICACIÓN DD/MM/AAAA-->
                                        {{opinio.fecha.toDate().getDate()}}/{{opinio.fecha.toDate().getMonth()+1}}/{{opinio.fecha.toDate().getFullYear()}}
                                    </h6>
                                </div>
                                <p class="card-text">{{opinio.comentario}}</p>
                            </div>

                        </ng-template>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<br><br>
<!-- COMPRAR ENTRADAS -->