<!-- CARRUSEL -->
<div class="w-50 h-10 mx-auto">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="../../../assets/pajaro.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/tigre.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="../../../assets/elefante.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<br><br>
<!-- ACTIVIDADES -->
<div class="container ">
    <div class="row d-flex justify-content-around ">
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Actividad 1</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-outline-success"><i
                                    class="fas fa-arrow-right"></i></button>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/actividades/actividad1.png" class="img-fluid rounded-start" alt="...">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Actividad 2</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-outline-success"><i
                                    class="fas fa-arrow-right"></i></button>

                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/actividades/actividad2.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Actividad 3</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-outline-success "><i
                                    class="fas fa-arrow-right"></i></button>

                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/actividades/actividad3.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- ULTIMOS POST -->
<div class="h2 d-flex justify-content-center">Últimos posts</div>
<br>
<div class="container">
    <div class="row d-flex justify-content-around ">
        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Post 1</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-outline-success"><i
                                    class="fas fa-arrow-right"></i></button>
                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/actividades/actividad1.png" class="img-fluid rounded-start" alt="...">

                    </div>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Post 2</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <button type="button" class="btn btn-outline-success"><i
                                    class="fas fa-arrow-right"></i></button>

                            <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="../../../assets/actividades/actividad2.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<!-- OPINIONES -->
<div class="h2 d-flex justify-content-center">Nuestros clientes opinan</div>
<br>
<div class="container ">
    <div class="row d-flex justify-content-around ">
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6>estrellas</h6>
                    <h5 class="card-title">Nombre Usuario</h5>
                    <h6 class="card-subtitle mb-2 text-muted">fecha</h6>
                    <p class="card-text">Opinión</p>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6>estrellas</h6>
                    <h5 class="card-title">Nombre Usuario</h5>
                    <h6 class="card-subtitle mb-2 text-muted">fecha</h6>
                    <p class="card-text">Opinión</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h6>estrellas</h6>
                    <h5 class="card-title">Nombre Usuario</h5>
                    <h6 class="card-subtitle mb-2 text-muted">fecha</h6>
                    <p class="card-text">Opinión</p>
                </div>
            </div>
        </div>
    </div>
</div>
<br>