.redondo {
  border-radius: 1rem 1rem 1rem 1rem;
}

.redondoMitad {
  border-radius: 1rem 1rem 0rem 0rem;
}

.tamanyoContainer {
  width: 100%;
  max-width: 100%;
  max-height: 450px;
  height: 100vh;
  overflow: hidden;
}

.tamantoImagenes {
  width: 100%;
  height: 450px;
  border-radius: 1rem 1rem 1rem 1rem;
}

.tamanyoImagen {
  /* max-width: 600px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}
