<!-- <div class="calendars">
  <div class="calendar-container">
    <span class="subtitle">
      Fecha seleccionada: {{ date | date }}
    </span>
    <nb-calendar [(date)]="date" [boundingMonth]="true">
    </nb-calendar>
  </div>

  <div class="calendar-container">
    <span class="subtitle">
      Fecha seleccionada: {{ date2 | date }}
    </span>
    <nb-calendar [(date)]="date2" [dayCellComponent]="dayCellComponent"></nb-calendar>
  </div>
</div> -->
<mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
</mat-card>
<p>Selected date: {{selected}}</p>