<!-- BARRA DE NAVEGACIÓN :)  -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <div class="d-flex justify-content-center">
      <img class="w-75 h-75 puntero" src="../../../assets/logo/LOGOHORIZONTAL.png" id="logo" alt="logo"
        [routerLink]="['/']">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <div class="nav-link active subrayado puntero" aria-current="page" [routerLink]="['descubre-el-zoo']">Descubre
            Charnia</div>
          <div></div>
        </li>
        <li class="nav-item">
          <div class="nav-link active subrayado puntero" aria-current="page" [routerLink]="['blog']">Blog</div>
        </li>
        <li class="nav-item">
          <div class="nav-link active subrayado puntero" aria-current="page" [routerLink]="['entradas']">Entradas</div>
        </li>
        <li class="nav-item" *ngIf="mostrarAccesoGestion == true">
          <div class="nav-link active subrayado puntero" aria-current="page" [routerLink]="['datos']">Datos</div>
        </li>
      </ul>

    </div>
    <div class="d-flex align-items-center">
      <div>
        <button id="usuario" class="btn btn-lg fas fa-user btn-light" alt="iniciar sesion"
          [routerLink]="['login']"></button>
      </div>
    </div>
  </div>
</nav>
