<div class="container mb-5">
    <h1>Servicios</h1><br>
    <h3>Descubre los servicios que tenemos para que tu visita cuente con lo que puedas necesitar</h3><br>
    <p>En Charnia disponemos de <strong>merenderos y restaurantes</strong> para poder hacer un descando en la visita al
        zoo.
        Ofrecemos <br>la visita al zoo en <strong>autotren</strong>, descubrirás cosas maravillosas sobre el zoo y los
        animales. Además,
        tenemos <strong>fuentes<br> de agua potable</strong>por todo el parque, <strong>consigna</strong>,
        <strong>cambiadores</strong>
        en los aseos, <strong>puntos de información</strong> y mucho más.
        <br>
        <br>
        Descubre todo lo que tenemos para ti y ven a visitarnos.
    </p><br>

    <h3><img src="../../../assets/iconos/train2.png" id="tren"> Autotren</h3>
    <p>Recorre Charnia abordo de nuestro autotren y conoce las curiosidaddes de los animales de nuestro zoo</p>

    <h3><i class="fas fa-restroom"></i> Aseos</h3>
    <p>Todos los aseos del Charnia disponen de cambiadores para los más pequeños. Están distribuidos a lo largo del
        parque.</p>

    <h3><i class="fas fa-wheelchair-move"></i> Aseos adaptados para personas con movilidad reducida</h3>
    <p>Nuestro parque cuenta con aseos adaptados</p>

    <h3><i class="fas fa-baby"></i> Cambiadores</h3>
    <p>Los aseos cuentan con cambiadores, tanto en los aseos de hombres como de mujeres, para hacer más cómoda la visita
        para los más pequeños</p>

    <h3><i class="fas fa-wallet"></i> Cajeros automáticos</h3>
    <p>Nuestro parque cuenta con varios cajeros automáticos para que puedas disponer de dinero en efectivo en todo
        momento</p>

    <h3><i class="fas fa-key"></i> Consigna</h3>
    <p>Si prefieres tener una visita libre de equipajes y de preocupaciones, deja tus pertenencias en consigna por tan
        solo 5€</p>

    <h3><i class="fas fa-faucet-drip"></i> Fuentes de agua potable </h3>
    <p>Encontrarás distintos puntos del parque con agua potable</p>

    <h3><i class="fas fa-circle-info"></i> Información</h3>
    <p>Si tienes alguna duda y deseas recicbir información sobre Charnia, al principio del parque encontrarás la oficina
        de información</p>

    <h3><i class="fas fa-utensils"></i> Merenderos</h3>
    <p>Charnia cuenta con una amplia oferta de restauración, además de merenderos sitiados por todo el parque</p>

    <h3><i class="fas fa-stethoscope"></i> Servicio de enfermería</h3>
    <p>Contamos con personal médico cualificado que atenderá a aquellos visitantes que precisen asistencia médica</p>
</div>