<div class="container">
    <h1>Actividades educativas</h1>
    <h5>Descubre lo maravillosos que son los animales con nuestras actividades educativas</h5>
    <p>asldhogogdfg</p>
    <div class="row d-flex justify-content-around ">
        <div class="col-6">
            <div class="card" style="width: 40rem;">
                <img src="../../../assets/delfines2.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Actividad educativa con delfines</h4>
                    <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Ver más</button>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 40rem;">
                <img src="../../../assets/tucan3.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Actividad educativa con aves exóticas</h4>
                    <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Ver más</button>

                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="row d-flex justify-content-around ">


        <div class="col-6">
            <div class="card" style="width: 40rem;">
                <img src="../../../assets/wallabies.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Actividad educativa con wallabys</h4>
                    <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Ver más</button>

                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card" style="width: 40rem;">
                <img src="../../../assets/cabra.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h4 class="card-title">Actividad educativa con animales de granja</h4>
                    <button type="button" class="btn btn-success" [routerLink]="['/actividad']">Ver más</button>

                </div>
            </div>
        </div>
    </div>
</div>
<br><br>