 <div class="container ">
    <div class="row  row-cols-1 row-cols-md-2 row-cols-lg-4 d-flex justify-content-center m-auto">
        <div *ngFor="let indiv of individual">
            <div *ngFor="let rut of ruta">
                <div *ngIf="indiv.nombre == rut">
                    <div *ngIf="indiv.nombre != nombre; else hueco">
                        <div class="col">
                            <div class="card clase mb-4 redondo"> 
                                <img src="../../../assets/{{indiv.imagen}}" class="card-img-top redondoMitad" alt="...">
                                <div class="card-body">
                                    <h4 class="card-title ">{{indiv.tituloCarta}}</h4>
                                    <button type="button" class="btn btn-success" [routerLink]="['/actividad', rut]"
                                        (click)="envioRuta(rut)">Ver más</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-template #hueco>
                        <div *ngIf="indiv.nombre == nombre" style="padding: 0% 0%;">
                            <div class="col">
                                <div class="card opacidad mb-4 redondo">
                                    <img src="../../../assets/{{indiv.imagen}}" class="card-img-top redondoMitad " alt="...">
                                    <div class="card-body">
                                        <h4 class="card-title ">{{indiv.tituloCarta}}</h4>
                                        <button type="button" class="btn btn-success disabled">Ver más</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>